<extend name="Public:common" />
<block name="css">
<css href="__CSS__/list.css" />
<css href="__STATIC__/hdvalidate/css/hdvalidate.css" />
<js href="__STATIC__/hdvalidate/js/hdvalidate.js" />
<script type="text/javascript"> 
APP = '__APP__';
</script>
<js href="__JS__/index.js" />
</block>
<block name="body">
	<include file="Public:top" />
	<div id='location'>
		<a href="{:U('index',array('cid'=>0))}">全部分类</a>
		<volist name="list" id="v">
			<if condition="$i neq count($list)">&gt;&nbsp;&nbsp;<a href="{:U('index',array('cid'=>$v['cid']))}">{$v.title}</a>&nbsp;&nbsp;<else />&gt;&nbsp;{$v.title}&nbsp;</if>
		</volist>
	</div>

<!--------------------中部-------------------->
	<div id='center'>
		<div id='left'>
			<div id='cate-list'>
				<p class='title'>按分类查找</p>
				<ul>
				<foreach name="soncate" item="v">
					<li>
						<a href="{:U('index',array('cid'=>$v['cid']))}">{$v.title}</a>
					</li>
				</foreach>
				</ul>
			</div>
			<div id='answer-list'>
				<ul class='ans-sel'>
					<li <if condition="!I('get.s')">class='on'</if>>
						<a href="{:U('index',array('s'=>0,'cid'=>I('get.cid')))}">待解决问题</a>
					</li>
					<li <if condition="I('get.s') eq 1">class='on'</if>>
						<a href="{:U('index',array('s'=>1,'cid'=>I('get.cid')))}">已解决</a>
					</li>
					<li <if condition="I('get.s') eq 2">class='on'</if>>
						<a href="{:U('index',array('s'=>2,'cid'=>I('get.cid')))}">高悬赏</a>
					</li>
					<li <if condition="I('get.s') eq 3">class='on'</if>>
						<a href="{:U('index',array('s'=>3,'cid'=>I('get.cid')))}">零回答</a>
					</li>
				</ul>
				<!-- 待解决问题 -->
				<table>
				<if condition="$data">
					<tr>
						<th class='t1'>标题</th>
						<th>回答数</th>
						<th>时间</th>
					</tr>
					
					<foreach name="data" item="v">
						<tr>
							<td class='t1 cons'>
								<a href="{:U('Home/Show/index',array('asid'=>$v['asid'],'cid'=>$v['cid']))}">
								<if condition="$v['reward']"><b>{$v.reward}</b></if>{$v.content}</a>&nbsp;&nbsp;[<a class='gray' href="{:U('List/index',array('cid'=>$v['cid']))}">{$v.title}</a>]
							</td>
							<td>{$v.answer}</td>
							<td>{$v.time|date='Y-m-d',###}</td>
						</tr>
					</foreach>
					<tr class='page'>
						<td>{$page}</td>
					</tr>
					<else />
						<tr> 
							<td>没有找到相关数据</td>
						</tr>
					</if>
				</table>
				
			</div>
		</div>
	<include file="Public:userright" />
	</div>
</block>