<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<block name="title"><title>{:C('WEB_NAME')}</title></block>
	<meta name="keywords" content="<block name='keywords'>{:C('KEYWORDS')}</block>"/>
	<meta name="description" content="<block name='description'>{:C('DESCRIPTION')}</block>"/>
<block name="comhead">
	<css href="__CSS__/common.css" />
	<js href="__PUBLIC__/jquery-1.7.2.min.js" />
	<js href="__JS__/top-bar.js" />
</block>
<block name="css"></block>
</head>
<body>
<block name="body"></block>
<block name="foot">
<div id='bottom'>
	<p>Copyright © 2015 {:C('COPYINFO')} All Rights Reserved {:C('WEB_NAME')}</p>
	<p>备案号: {:C('RECORD')}</p>
</div>
</block>
</body>
</html>