<extend name="Public:admin" />
<block name="css">
	<style type="text/css">
		.clearfix{*zoom:1}
	.clearfix:before,.clearfix:after{display:table;line-height:0;content:""}
	.clearfix:after{clear:both}
		.list{
			background: #EBEBEB;
			height: 30px;
			line-height: 30px;
			padding-left: 10px;
			font-size: 16px;
			font-weight: 500;
			color: #656E73;
		}
		ul.l1{
			padding:0 10px;
			color: #656E73;
			margin-bottom: 10px;
		}
		ul.l1 h4{
			padding-bottom: 10px;
		}
		ul.l1 .li{
			overflow: hidden;
			padding: 10px 0;
			border-bottom: 1px solid #ccc;
		}
		ul.l1 a{
			color: blue;
			font-weight: normal;
		}
		ul.l2 li{
			padding-right: 20px;
			float: left;
		}
		.checkbox{
			margin-right: 3px;
		}

	</style>
</block>
<block name="body">
	<h3 class="list">权限列表</h3>
	<form action="" method="post">
	<ul class="l1">
	<foreach name="rule" item="v">
		<li class="li">
			<h4><input <if condition="in_array($v['id'],$idarr)">checked="checked"</if> class="checkbox" type="checkbox" value="{$v.id}" name="rule[]">{$v.title}</h4>
			<ul class="l2 clearfix">
			<foreach name="v.son" item="var">
				<li><input <if condition="in_array($var['id'],$idarr)">checked="checked"</if> class="checkbox" type="checkbox" value="{$var.id}" name="rule[]">{$var.title}</li>
			</foreach>
			</ul>
		</li>
	</foreach>
	</ul>
	<input type="submit" value="提交" class="input_button">
	</form>
</block>